body{
    background-color: black;
    
}
.button{
    text-align: center;
    position:inherit;
    margin-top: 20rem;
}
button{
    border-color: red;
    background: none;
    color: red;
    font-size: larger;
}
button:hover{
    border-color: lightgreen;
    color: lightgreen;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}